<p id="notice"><%= notice %></p>

<% @subscriptions.each do |subscription| %>
  <% if subscription.status == 'active' %>
    <li>
      <%= subscription.category.name.humanize %>
      <br>
      <p> Subscribed Plans:
        <% @plans.each do |plan| %>
            <% if plan.subscription_id == subscription.id %>
              <%= plan.name %><br>
            <% end %>
        <% end %>
      </p>
      <br>
      <%= link_to 'Cancel Subscription', subscription_path(subscription), :method=>:delete %>
      <br></br>
    </li>
  <% end %>


<% end %>

<%= link_to 'Back to Products List', products_path %>
